<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.drexel.lapcounter.lapcounter">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".frontend.CalibrateDeviceActivity"></activity>
        <activity android:name=".frontend.temp.LapCounterServiceTest" />

        <service
            android:name=".backend.ble.BLEService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".backend.lapcounter.LapCounterService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".frontend.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".frontend.WelcomeActivity" />
        <activity android:name=".frontend.CurrentWorkoutActivity" />
        <activity android:name=".frontend.WorkoutAnalytics" />
        <activity android:name=".frontend.PastWorkoutsActivity" />
        <activity android:name=".frontend.SettingsActivity" />
        <activity android:name=".frontend.PoolSizeActivity" />
        <activity android:name=".frontend.DeviceSelectActivity" />
        <activity android:name=".frontend.WorkoutDetailsActivity" />
        <activity android:name=".frontend.DummyCalibrateDeviceActivity" />
        <activity android:name=".frontend.DeviceScanActivity" />
        <activity android:name=".frontend.DeviceInfoActivity" />
        <activity android:name=".frontend.temp.ReceiverTest" />
    </application>

</manifest>